<div>
    <h2>You Can Sign In Here</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
        <label for="signUpUsername">Username</label>
        <br>
        <input type="text" name="signUpUsername" id="signUpUsername" formControlName="username" />
        <br>
        <label for="signUpEmail">Email</label>
        <br>
        <input type="email" name="signUpEmail" id="signUpEmail" formControlName="email" />
        <br>
        <label for="signUpPass">Password</label>
        <br>
        <input type="password" name="signUpPass" id="signUpPass" formControlName="password" />
        <br>
        <label for="confirmPass">Confirm Password</label>
        <br>
        <input type="password" name="confirmPass" id="confirmPass" formControlName="passwordConfirmation" />
        <br>
        <button type="submit" [disabled]="!signUpForm.valid">Submit</button>
    </form>
    @if (formErrors.length != 0) {
        <br>
        @for (err of formErrors; track $index) {
            <span class="error">{{ err }}</span>
        }
    }
</div>