@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a0c1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #2c0853, #1a0c1a);
    /* linear-gradient(to bottom right, 2c0853, 1a0c1a) */
    --foreground: #abd2f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
