@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #251244;
  --foreground: #9b97c4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #9b97c4;
    --background: #251244;
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
